{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}

{% block content %}
  <section>
    {% if product %}
      <dt>{{ product.name }}</dt>
      <dd>{{ product.price }}</dd>
      {% if not in_cart %}
        <form action="/add_cart" method="post">
          <input type="hidden" name="product_id" value="{{ product.id }}">
          <input type="submit" value="カートに加える">
        </form>
      {% endif %}
    {% elif products %}
      {% for product in products %}
        <dt>
          <a href="/products/{{ product.id }}">{{ product.name }}</a>
        </dt>
        <dd>{{ product.price }}</dd>
      {% endfor %}
    {% endif %}
    <a href="/cart">カートを見る</a>
    <form action="/sign_out" method="post">
      {{ form.csrf_token }}
      <input type="submit" value="サインアウト">
    </form>
  </section>
{% endblock %}
